<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="images/weather.png">
        <link rel="stylesheet" href="css/styles.css"></link>  
        <script src="scripts/main.js"></script>
    </head>
    <body>
        <div class="main-content">
             {{>header}}
         <h1>Hey There ! </h1>
        <img class="potrait" src="images/myimg.jpg"></img>
        
        </div>
        
        {{>footer}}
    </body>
</html>